.gis-opportunities {
	font-family: 'HelveticaNeueCyrRoman', 'Arial', sans-serif;
	margin-bottom: 120px;
	background-image: radial-gradient(circle, #cdeffb 19%, white 19%);
    background-position: -395px -60px;
    background-repeat: no-repeat;

	&__wrapper {
		width: 940px;
		margin: 0 auto;
	}

	&__column {
		width: 404px;
		text-align: center;
		float: left;
		margin-right: 132px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__text {
		font-size: 21px;
		color: #666;
		margin: 0;
	}

	&__pic {
		margin-bottom: 24px;
	}
}